<div class="d-flex flex-row bg-primary py-3 my-3 w-100 justify-content-center text-sm">
  <!-- OVDE MOZE DA IDE NG FOR za razlicite elemente da se prikzauje -->
  <!-- zlato -->
  <div *ngFor="let i of [].constructor(2); let index = index" class="d-flex flex-row mx-2">
    <div class="p-1 bg-white"> element name{{index}}</div>
    <div class="p-1 bg-white"> price{{index}}</div>
    <div class="p-1 bg-white"> symbol{{index}}</div>
    <div class="p-1 bg-white"> 19.48</div>
    <div class="p-1 bg-white"> % {{index}}</div>
    <div class="p-1 bg-white"> % {{index}}</div>
    <div class="p-1 bg-white"> % {{index}}</div>
    <div class="p-1 bg-white"> % {{index}}</div>
  </div>
</div>
